---
apiVersion: v1
kind: List
items:
{% for environment in environments %}
- apiVersion: v1
  kind: ProjectRequest
  metadata:
    name: {{ namespace_metadata.NAMESPACE }}-file-{{ environment }}
  description: {{ namespace_metadata.NAMESPACE_DESCRIPTION }} (file) - {{ environment }}
  displayName: {{ namespace_metadata.NAMESPACE_DISPLAY_NAME }} (file) - {{ environment }}
{% endfor %}
